<div class="container ">
    <div class="card mx-auto" style="border:none; width:28rem;">
        <div class="card-body">
            <div class="row">
                <div class="h5 mx-auto" style="color:#32A47D;"> Log in with your email account</div>
            </div>

            <div class="row">
                <form class="col-12" #loginForm="ngForm"  (submit)="login()">
                    <div class="form-group ">

                        <label for="emailInput" class="sr-only">Email</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="somebody@example.com" name="username" [(ngModel)]="model.username"/>
                    </div>
                    <div class="form-group ">

                        <label for="passwordInput" class="sr-only">Password</label>
                        <input [attr.type]="showPassword.checked?'text':'password'" class="form-control" name="password"
                            id="passwordInput" placeholder="password" [(ngModel)]="model.password" />

                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="showPassword" #showPassword
                                (click)="null">
                            <label for="showPassword" class="form-check-label text-muted ml-1">
                                Show password
                            </label>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary btn-block" value="Log in"
                        style="background-color:#32A47D;border:#32A47D">

                </form>
            </div>
            <div class="row ">
                <footer class="text-center text-muted mx-auto">
                    <small>Page © -2020 <br>
                        Powered by <a href="#">ZHONGLIN CHEN</a></small>
                </footer>

            </div>
        </div>
    </div>
</div>